/**
 * All admin-specific CSS should be included in this file.
*/

.regular-text {
    width: 40% !important;
}

.plugin-thumbnail {
	width: 10%;
}

.subtext {
    font-weight: normal;
    font-size: smaller;
}

.subheading {
	font-size: medium;
}

#panic-button-form h2 {
    margin-bottom: 10px;
	font-size: 2em;
}